.especificacoes {
  padding: 80px;
}

.especificacoes-bg {
  background-color: var(--white);
  padding: 40px;
}

.especificacoes-bg h2 {
  font-family: 'Roboto', sans-serif;
  font-size: 2rem;
}

.especificacoes-itens {
  display: flex;
  justify-content: space-between;
  align-content: center;
  gap: 20px;
  margin-top: 80px;
}

.especificacao {
  display: grid;
  justify-items: center;
  gap: 20px;
}

.especificacao h3 {
  font-family: 'Roboto', sans-serif;
  font-size: 1.5rem;
  color: var(--black-1);
  position: relative;
  display: grid;
  justify-items: center;
}

.especificacao h3::before {
  content: '';
  display: inline-block;
  width: 50px;
  height: 3px;
  background-color: var(--cor-primaria);
  position: absolute;
  top: 40px;
}

.especificacao p {
  font-family: 'Roboto', sans-serif;
  font-size: 1.25rem;
  max-width: 20ch;
  text-align: center;
  color: var(--black-2);
}

@media (max-width: 1000px) {
  .especificacao h3 {
    font-size: 1.25rem;
  }

  .especificacao p {
    font-size: 1.12rem;
  }

  .especificacao h3::before {
    top: 30px;
  }
}

@media (max-width: 900px) {
  .especificacao h3 {
    font-size: 1.12rem;
  }

  .especificacao p {
    font-size: 1rem;
  }

  .especificacao h3::before {
    top: 30px;
  }

  .especificacao img {
    width: 60px;
  }
}

@media (max-width: 800px) {
  .especificacoes-bg h2 {
    font-size: 1.5rem;
  }

  .especificacoes-itens {
    margin-top: 60px;
  }
}

@media (max-width: 700px) {
  .especificacoes {
    padding: 60px;
  }
}

@media (max-width: 600px) {
  .especificacoes {
    padding: 40px;
  }
}

@media (max-width: 500px) {
  .especificacoes-bg h2 {
    font-size: 1.25rem;
  }

  .especificacao h3 {
    font-size: 1rem;
  }

  .especificacao p {
    font-size: 0.85rem;
  }

  .especificacao img {
    width: 40px;
  }

  .especificacoes-itens {
    margin-top: 40px;
  }
}

@media (max-width: 400px) {
  .especificacao h3 {
    font-size: 0.85rem;
  }

  .especificacao p {
    font-size: 0.75rem;
  }

  .especificacao img {
    width: 40px;
  }

  .especificacoes-itens {
    margin-top: 40px;
  }
}