.filhotes-bg {
  padding: 80px 80px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
}

.filhotes-descricao {
  display: grid;
  justify-items: end;
}

.filhotes-descricao h2 {
  font-family: 'Roboto', sans-serif;
  font-size: 2rem;
  color: var(--black-1);
  position: relative;
}

.filhotes-descricao h2::after {
  content: '';
  display: inline-block;
  width: 50px;
  height: 3px;
  background-color: var(--cor-primaria);
  position: absolute;
  top: 40px;
  right: 0px;
}

.filhotes-descricao p {
  font-family: 'Roboto', sans-serif;
  font-size: 1.25rem;
  color: var(--black-2);
  text-align: right;
  margin: 30px 0px;
  max-width: 45ch;
}

.button-filhote {
  display: flex;
  border: none;
  background-color: var(--cor-primaria);
  padding: 15px 20px;
  border-radius: 5px;
  align-items: center;
  gap: 5px;
  font-family: 'Roboto', sans-serif;
  font-size: 1.25rem;
  cursor: pointer;
}

.button-filhote:hover {
  background-color: var(--cor-primaria-2);
}

.filhote-img img {
  width: 450px;
}

@media (max-width: 900px) {
  .filhotes-descricao h2 {
    font-size: 1.85rem;
  }

  .filhotes-descricao p {
    font-size: 1.12rem;
  }
}

@media (max-width: 850px) {
  .filhote-img img {
    width: 400px;
  }
}

@media (max-width: 800px) {
  .filhote-img img {
    width: 350px;
  }

  .filhotes-descricao h2 {
    font-size: 1.5rem;
  }

  .filhotes-descricao p {
    font-size: 1rem;
  }

  .button-filhote {
    padding: 10px 15px;
    font-size: 1.12rem;
  }
}

@media (max-width: 750px) {
  .filhote-img img {
    width: 300px;
  }
}

@media (max-width: 700px) {
  .filhotes-bg {
    padding:80px 60px;
  }
}

@media (max-width: 650px) {
  .filhotes-bg {
    grid-template-columns: 1fr;
  }

  .filhote-img img {
    width: 400px;
  }
}

@media (max-width: 600px) {
  .filhotes-bg {
    padding: 60px 40px;
  }
}

@media (max-width: 500px) {
  .filhote-img img {
    width: 300px;
  }
}

@media (max-width: 400px) {
  .filhotes-bg {
    padding: 40px 40px;
  }

  .filhote-img img {
    width: 250px;
  }

  .filhotes-descricao h2 {
    font-size: 1.25rem;
  }
}