.js-enabled .informacoes-da-raca {
  display: block;
  padding: 0px 80px;
  opacity: 0;
  transform: translate3d(-30px, 0px, 0px);
  transition: .3s;
}

.js-enabled .informacoes-da-raca.ativo {
  opacity: 100%;
  transition: .3s;
  transform: translate3d(0px, 0px, 0px);
}


.informacoes-da-raca-bg {
  background-color: var(--white);
  padding: 40px;
}

.informacoes-da-raca-lista-titulos {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.informacoes-titulo {
  font-family: 'Roboto', sans-serif;
  font-size: 1.25rem;
  color: var(--black-1);
  position: relative;
  display: grid;
  justify-items: center;
  cursor: pointer;
}

.informacoes-conteudo {
  font-family: 'Roboto', sans-serif;
  font-size: 1.25rem;
  color: var(--black-2);
  margin-top: 60px;
}

.js-enabled .informacoes-conteudo {
  display: none;
}

.js-enabled .informacoes-conteudo.ativo {
  display: block;
}

.js-enabled .informacoes-titulo.ativo {
  color: var(--cor-primaria);
}

.js-enabled .informacoes-titulo.ativo::before {
  content: '';
  display: inline-block;
  width: 50px;
  height: 3px;
  background-color: var(--cor-primaria);
  position: absolute;
  top: 40px;
  cursor: initial;
}

@media (max-width: 1000px) {
  .informacoes-titulo {
    font-size: 1.12rem;
  }

  .informacoes-conteudo {
    font-size: 1.12rem;
  }
}

@media (max-width: 950px) {
  .informacoes-da-raca-bg {
    padding: 20px;
  }
}

@media (max-width: 900px) {
  .informacoes-titulo {
    font-size: 1rem;
  }

  .informacoes-conteudo {
    font-size: 1rem;
  }
}

@media (max-width: 800px) {
  .informacoes-da-raca-lista-titulos {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 0px;
  }

  .informacoes-titulo {
    border: 2px solid #e9e9e9;
    padding: 10px;
  }

  .js-enabled .informacoes-titulo.ativo {
    border: 2px solid var(--cor-primaria);
  }

  .js-enabled .informacoes-titulo.ativo::before {
    display: none;
  }
}

@media (max-width: 700px) {
  .informacoes-da-raca.ativo {
    padding: 0px 60px;
  }
}

@media (max-width: 600px) {
  .informacoes-da-raca.ativo {
    padding: 0px 20px;
  }
}

@media (max-width: 550px) {
  .informacoes-titulo {
    padding: 5px;
  }
}

@media (max-width: 500px) {
  .informacoes-da-raca-lista-titulos {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 400px) {
  .informacoes-da-raca.ativo {
    padding: 0px 10px;
  }
}