.js-enabled .sobre-a-raca-bg {
  padding: 10px 80px;
  display: grid;
  grid-template-columns: 1fr 2fr;
  align-items: center;
  gap: 20px;
  opacity: 0;
}

.js-enabled .sobre-a-raca-bg.ativo {
  opacity: 100%;
}

.sobre-a-raca-bg h2 {
  font-family: 'Roboto', sans-serif;
  font-size: 2rem;
  color: var(--black-1);
  position: relative;
}

.sobre-a-raca-bg h2::before {
  content: '';
  display: inline-block;
  width: 50px;
  height: 3px;
  background-color: var(--cor-primaria);
  position: absolute;
  top: 40px;
}

.sobre-a-raca-bg p {
  font-family: 'Roboto', sans-serif;
  font-size: 1.25rem;
  color: var(--black-2);
  margin-top: 30px;
}

.img-sobre-a-raca {
  width: 500px;
}

.conteudo-sobre-a-raca {
  padding: 20px 0px;
}

@media (max-width: 1000px) {
  .img-sobre-a-raca {
    width: 400px;
  }

  .img-sobre-a-raca img {
    width: 400px;
  }

  .sobre-a-raca-bg h2 {
    font-size: 1.5rem;
  }

  .sobre-a-raca-bg p {
    font-size: 1rem;
  }
}

@media (max-width: 850px) {
  .img-sobre-a-raca {
    width: 300px;
  }

  .img-sobre-a-raca img {
    width: 300px;
  }
}

@media (max-width: 750px) {
  .sobre-a-raca-bg {
    grid-template-columns: 1fr;
    padding: 10px 60px;
  }

  .img-sobre-a-raca {
    width: 400px;
  }

  .img-sobre-a-raca img {
    width: 400px;
  }
}

@media (max-width: 600px) {
  .sobre-a-raca-bg {
    padding: 10px 40px;
  }
}

@media (max-width: 500px) {
  .img-sobre-a-raca {
    width: 300px;
  }

  .img-sobre-a-raca img {
    width: 300px;
  }
}

@media (max-width: 400px) {
  .img-sobre-a-raca {
    width: 250px;
  }

  .img-sobre-a-raca img {
    width: 250px;
  }

  .sobre-a-raca-bg h2 {
    font-size: 1.25rem;
  }

  .sobre-a-raca-bg h2::before {
    top: 30px;
  }
}